*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body{
  background-color: #fff;
  text-align: center;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 600px;
  border-bottom: 1px solid black;
  padding: 20px;
}
button {
  padding: 10px 20px;
  background-color: #0000ff;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.blog-preview{
  padding: 10px;
  margin: 20px 0;
  border-bottom: 1-x solid white;
}
.blog-preview:hover{
  box-shadow: 1px 3px 10px black;
  transform: scaleX(20px 30px);
}
.blog-preview h1{
  color: red;
  font-size: 20px;
  margin-bottom: 8px;
}